html
	head
		title User
		
body
	include ../partials/header
	p Username: #{status.username}
	p Total Quizzes: #{status.total_quizzes}
	p Average Score: #{status.total_quizzes/status.total_score}